<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
	    {% endif %}
	  </li>
          {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
	  {% endif %}
	  {% if site.work_email %}
            <li><a class="u-email" href="mailto:{{ site.work_email }}">{{ site.work_email }}</a></li>
	  {% endif %}
	  <li><a class="u-email" href="{{ "/" | relative_url }}">{{ site.url }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>
    </div>

  </div>

</footer>
