<aside>
  <div class="container">
    <nav>
      <ul>
        {% for page in site.pages %} {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
	{% endif %} {% endfor %}
      </ul>
    </nav>
  </div>
</aside>
  
<header class="site-header" role="banner">
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {% if page.layout == "home" or page.is_post  %}
    <p class="site-title">&nbsp;|&nbsp;Posts</p>
    {% elsif page.title %}
    <p class="site-title">&nbsp;|&nbsp;{{ page.title }}</p>
    {% endif %}
  </div>
  
  <div class="wrapper">
    <p>{{ site.description | escape }}</p>
  </div>
</header>